{% extends "home/index.html" %}
{% load static %}

{% block tp_intermedio_title %}
Payment
{% endblock %}

{% block tp_intermedio_header %}
    <header class="masthead" style="background-image: url('../../static/home/assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h1>Listado de condiciones de pago</h1>
                        <span class="subheading">My blog CoderHouse</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'payment:payment-add' %}">Crear nueva condicion de pago</a>
        </div>
    </header>
{% endblock %}

{% block tp_intermedio_content %}
    {% for payment in payments %}
        <!-- Post preview-->
        <div class="post-preview">
            <h2 class="post-title">Descripcion de condicion de pago: {{ payment.code }}  {{ payment.name }}</h2>
            <h4 class="post-title">Dias permitidos: {{ payment.days }}</h4>
            
        
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
{% endblock %}